<div class="container">
    <h2> View all Tasks</h2>
    <div class="row">
        <div class="input-group md-3">
            <input type="text" class="form-control" placeholder="Search by Task name" [(ngModel)]="taskName">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"  (click)="searchByName()" >Search</button>              
            </div>     
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Task Name
                    <button type="button" class="btn btn-space" (click)="sortResult('Name', true)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                        </svg>
                    </button>
                    <button type="button" class="btn btn-space" (click)="sortResult('Name', false)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                        </svg>
                    </button>
                </th>
                <th scope="col">Due Date
                    <button type="button" class="btn btn-space" (click)="sortByDate('DueDate', true)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                        </svg>
                    </button>
                    <button type="button" class="btn btn-space" (click)="sortByDate('DueDate', false)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                        </svg>
                    </button>
                </th>
                <th scope="col">Completed
                    <button type="button" class="btn btn-space" (click)="sortResult('Status', true)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                        </svg>
                    </button>
                    <button type="button" class="btn btn-space" (click)="sortResult('Status', false)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                        </svg>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of taskList">
                <th scope="row">
                    <a routerLink="/update/{{task.Id}}">{{task.Name}}</a>
                </th>
                <td>{{task.DueDate | date: 'MM/dd/yyyy'}}</td>
                <td>
                    <div class="form-check">
                        <input *ngIf="task.Status" id="{{task.Id}}" (change)="statusChange($event)"
                            class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                        <input *ngIf="!task.Status" id="{{task.Id}}" (change)="statusChange($event)"
                            class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                </td>
            </tr>
            <tr >
                <td colspan="3">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        Total items:{{tasksAmount}}
                    </div>
                    <div class="col-lg-2 col-md-2">
                        Show items
                        <select (change)="handlePageSizeChange($event)">
                            <option *ngFor="let size of pageSizes" [ngValue]="size">
                                {{ size }}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
                        (pageChange)="handlePageChange($event)">

                        <li
                            *ngFor="let item of taskListPoor | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: tasksAmount }">
                            ...</li>

                    </pagination-controls>
                    </div>
                    
                </div>
            </td>
            </tr>
        </tbody>
    </table>
</div>